@{
    ViewBag.Title = "Page Not Found";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fel</title>
</head>
<body>
    <hgroup>
        <h1>Fel inträffade</h1>
        <h2>Något fel inträffade, gå tillbaka och försök igen!</h2>
    </hgroup>
    @Html.ActionLink("Tillbaka till lista med kontakter", "Index")
</body>
</html>