@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oooooooops.</h1>
        <h2>Något Tokigt hände. Kontakten finns inte. Vänd om och prova med en kontakt som faktiskt finns!</h2>
    </hgroup>
    @Html.ActionLink("Back to List", "Index")
</body>
</html>












@*@{
    ViewBag.Title = "Page Not Found";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Något fel inträffade, gå tillbaka och försök igen!</h2>
    </hgroup>
    @Html.ActionLink("Tillbaka till kontaktlistan", "Index")
</body>
</html>*@