@model AdventurousContacts.Models.Contact
@{
    ViewBag.Title = "Ändra kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ändra kontakt</h2>
@if (TempData["error"] != null)
{
    @Html.Partial("_ErrorDetails")
}
@Html.Partial("_ContactForm")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
